*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    flex-direction: column;
    height: 250vh;
    justify-content: space-between;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 12px;
    align-items: center;
}
.line{
    position: relative;
    border: 3px solid red;
    border-radius: 20px;
    width: 600px;
    left: 30%;
    background-color: beige;
}
.logo{
    font-size: 24px;
    color: white;
}
.head{
    display: flex;
    list-style: none;
}
.head li{
    padding: 8px 12px;
}
.head li:hover{
    background-color: black;
    border-radius: 4px;
}
a{
    text-decoration: none;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
body{
    background-image: url(topimage-classic-hamburger-2019m04-800x534-curiosa.jpg);
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.site{
    margin: px auto 0;
    width: 100%;
    height: auto;
    text-align: center;
    opacity: 0.9;
}
.brand{
    width: 300px;
    height: 30px;
    margin: 5px auto 10px;
}
.select{
    position: relative;
    left: 146px;
    width: 5%;
    height: 30px;
    width: 100px;
}
.name{
    width: 300px;
    height: 30px;
    margin: 5px auto 5px;
}
.set{
    color: white;
    margin: 10px auto 15px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.review{
    width: 400px;
    height: 300px;
    margin: 0 auto 5px;
    word-wrap: break-all;
}
.star{
    width: 20%;
    height: 40px;
    margin: 5px auto;
    text-align: center;
}
.submit{
    cursor: pointer;
    width: 300px;
    height: 50px;
    margin: 5px auto 100px;
}
.User_review h1{
    color: yellow;
    margin: 100px;
}
.User_review-container{
    display: flex;
    width: 1000px;
    height: 400px;
    margin: 80px auto;
}
.item {
    position: relative;
    flex: 1;
    height: 100%;
    padding: 25px;
    transition: 1.5s;
}
.item:hover{
    flex-grow: 2.5;
}
.item:nth-child(1){
    background-color: aqua;
}
.item:nth-child(2){
    background-color: salmon;
}
.item:nth-child(3){
    background-color: darkseagreen;
}
.item:hover .caption{
display: block;
}
.item h2{
    color: white;
    font-size: 28px;
    font-weight: 800;
    text-align: center;
}
.caption{
    display: none;
    font-size: 18px;
    margin: 25px 0;
    max-width: 240px;
}
.item img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 200px;
    height: 200px;
}
.caption button:nth-child(1){
    border: 1px solid black;
    border-radius: 30px;
    background: transparent;
    padding: 8px 18px;
    color: blue;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 22px;
}

footer{
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    align-items: center;
}
.f-list{
    display: flex;
    list-style: none;
}
.f-list li{
    padding: 8px 12px;
}
.ment p{
    font-size: 20px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.card{
    display: inline-block;
    margin: 20px;
    border-radius: 8px;
    height: 400px;
    width: 270px;
    overflow: hidden;
    box-shadow: 0 20px 35px black;
    padding: 5px;
    transform: scale(1);
    transition: 2.5s;
    background-color: salmon;
}
.card:hover{
    cursor: pointer;
    transform: scale(1.33);
}
.card img{
    width: 260px;
    height: 260px;
}
