*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'ONE-Mobile-POP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* h3~ h6 고통 처리(전역 변수개념) */
/* root : (최상 계층 , 왕?!, 부모) => 최상위권을 의미함.*/
:root{
    /* 자주 사용하는 Color 모음 */
    /* 자주 사용하는 Color에 변수이름을 민듦.
        변수이름을 활용함 */
    --mainColor: #aeaeae;
    --secondaryColor: #fff;
    --borderColor: #c1c1c1;
}
h3,
h6{
    /* font-family : 글씨 폰트 지정 (추후 이쁜 폰트 알려줄께요~) */
    font-family: "Russo One",sans-serif;
    font-weight: 500;
}
.section{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
}
.project-container{
    width: 1200px;
    /* 위아래는 없고 오른쪽 왼쪽은 자동으로 맞추기 */
    margin: 0 auto;
}
.project-container h3{
    font-family: 'ONE-Mobile-POP';
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
}
.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    gap: 20px;
    margin-bottom: 14px;
}
.post img{
    width: 100%;
    height: 200px;
    /* object-fit : 사진 깨짐 방지 */
    object-fit: cover;
}
.post-preview{
    background-color: var(--secondaryColor);
    padding: 5%;
}
.post-preview h6{
    font-size: 16px;
    font-weight: 600;
    color: black;
}
.post-preview p{
    color: #4b5156;
    font-size: 14px;
    margin: 14px 0;
}
.post-preview a{
    text-decoration: none;
    color: #17a2b8;
    transition: 0.9s;
}
.post-preview a:hover{
    color: red;
}
.post{
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-shadow: 10px 15px 10px rgba(0, 0, 0, 0.75);
    transform: scale(1);
    transition: 1s;
    border: 3px solid slateblue;
    background-color: antiquewhite;
}
.post:hover{
    transform: scale(1.09);
}
.main-container{
    width: 1200px;
    height: 615px;
    margin: 0 auto;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
.about-me{
    width: 550px;
    height: auto;
}
.about-me p{
    margin: 16px;
}
.about-me h4{
    font-size: 24px;
    margin: 32px 0;
}
.skills{
    display: flex;
    justify-content: space-around;
    background-color: #f0ead6;
    border-radius: 10px;
}
.skills ul{
    list-style: none;
    padding-left: 40px;
    padding: 16px 0;
}
.skills ul li{
    color: #4b5156;
}
.social-links{
    width: 550px;
    height: auto;
}
.social-links img{
    width: 100%;
    border-radius: 5px;
    height: auto;
    /* object-fit : 사진 깨짐 방지 */
    object-fit: cover;
}
.social-links h3{
    /* 글씨 가운데 정렬 */
    text-align: center;
    margin: 28px 0;
    font-size: 28px;
}
.github{
    text-align: center;    
}
.github a{
    font-size: 20px;
    text-decoration: none;
    color: #17a2b8;
}
header{
    background-color: var(--mainColor);
    border-bottom: var(--borderColor);
}
.greeting-wrapper{
    padding: 46px 0;
}
.greeting-wrapper h1{
    text-align: center;
    font-size: 56px;
}
.intro-wrapper{
    background-color: #fff;
    border: 1px solid var(--borderColor);
    /* border-radius : (위 왼쪽) (위 오른쪽) (아래 오른쪽) (아래 왼쪽) */
    border-radius: 5px 5px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'nav-wrapper nav-wrapper info-wrapper do-wrapper';
}
.nav-wrapper{
    width: 100%;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* id : #, class : . */
#dot-1{
    background-color: #fc6058;
}
#dot-2{
    background-color: #fec02f;
}
#dot-3{
    background-color: #2aca3e;
}
.dot{
    padding: 10px;
}
